<div class="left-panel">
</div>

<div class="right-panel">
	<h1>LIFE</h1>
	<h2>About me</h2>
	<ul>
		<li>I am <%= time_ago_in_words(Time.new(1991, 07, 20)) %> old</li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<h2>Interests</h2>
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>

	<h1>WORK</h1>
	<h2>Skills</h2>
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	<h2>Interests</h2>
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>

