<div class="left-panel">
</div>

<div class="right-panel">
	<h1>I Design. I Code. I Solve Problems.</h1>

	<section class="about">
		<h2>About Me</h2>
		<div>
			<p>
			I am a web designer/developer with a passion for creating harmony between gorgeous, purposeful design and objective functionality. I work to make a seemless transition between sensable user interfaces and tight-knit back end business logic. Each day, I try to get better at bridging the gap between the "front-end" and "back-end" worlds in order to create a harmonious, synchronized experience for this amazing platform we call the web. Really I am in the business of learning to create. 
			<br>
			<br>
			I don't stop there, though. I also have a versatile level of design skill. I design/code all of my webapps/sites and have an exstensive background in general graphic/print design as well. I started designing when I was in high school and quickly found myself doing work for bands all around Colorado. I started my professional career at a local design firm designing everything from logos to full on marketing campaigns. This eventually blossomed into a passion for the interactive, web side of things but I still value good design as the key component to any succesful business venture and believe strongly in making good design a priority.
			</p>
			<hr>
			<br>
			<h3>In case you were wondering</h3>
			<br>
			<p>You may be wondering "Why does this guy have an A and V for his logo if his name is Tedd?" Well, my full name is Edward Louis Arcuri V. The AV originated from me trying to find a way to represent my "heritage". So Arcuri the fifth = A V.</p>
		</div>
	</section>

	<section class="about">
		<h2>Technologies</h2>
		<div>
			<h3>Front End</h3>
			<hr>
			<ul>
				<li>HTML (ERB, Haml)</li>
				<li>CSS ( Sass = &hearts; )</li>
				<li>Javascript (jQuery, Coffeescript)</li>
				<li>Responsive Web Design</li>
			</ul>
			<h3>Back End</h3>
			<hr>	
			<ul>
				<li>PHP (Wordpress, Joomla, Laravel)</li>
				<li>Ruby (Rails)</li>
				<li>Databases (MySQL, Postgres, SQLite3)</li>
				<li>Servers (Apache)</li>
			</ul>
			<h3>Dev Tools</h3>
			<hr>
			<ul>
				<li>Git (Github)</li>
				<li>Command Line</li>
			</ul>
			<h3>Design Tools</h3>
			<hr>
				<ul>
					<li>Photoshop</li>
					<li>Illustrator</li>
					<li>InDesign</li>
				</ul>
			<hr>
			<h3>These are my current skills, but I am eager to consistently learn and further my understanding of a wide array of topics.</h3>
		</div>
	</section>

	<section class="about">
		<h2>Education</h2>
		<div>
			<ul>
				<li>AA in Digital Media Design | Colorado Technical University | June 2013</li>
				<li>HS | Colorado Springs Early Colleges | Class of 2009</li>
			</ul>
		</div>
	</section>

	<section class="about">
		<h2>Interests/Hobbies</h2>
		<div>
			<ul>
				<li>I am a HUGE hockey fan. I play it, I watch it, I am in love with the sport. Sharks/Avs fan. If you like to talk hockey, let's get together.</li>
				<li>As a Colorado native I am naturally inclined to think things like camping, hiking and biking are some of the best ways to spend my free-time.</li>
				<li>I really love biology. It's certainely only a hobby at the moment, but I do have an insatiable passion and curiosity ftowards all living things. I especially love plants.</li>
				<li>I truly find bliss in cooking a good meal.</li>
				<li>I also kinda really like programming and design.</li>
			</ul>
		</div>
	</section>
</div>

