<div class="left-panel">
</div>

<div class="right-panel">

	<h1>Work</h1>

	<section class="about">
		<h2>What I do</h2>
		<ul>
			<li>I suppose if had to put a label on it I am a UX/UI Designer, with some salts in the backend world. I absolutely love creating gorgeous interfaces, focusing on every details down to the size of buttons. But I also don't shy away from a little database or server work.</li>
		</ul>
	</section>

	<section class="about">
		<h2>Languages/Platforms</h2>
		<ul>
			<li>HTML | Haml, ERB</li>
			<li>CSS | Sass</li>
			<li>Javascript | Jquery, Coffeescript</li>
			<li>PHP | Wordpress, Joomla</li>
			<li>Ruby | Rails</li>
		</ul>
	</section>

	<h1>Life</h1>

	<section class="about">
		<h2>About me</h2>
		<ul>
			<li>I am <%= time_ago_in_words(Time.new(1991, 07, 20)) %> old</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</section>

	<section class="about">
		<h2>Interests/Hobbies</h2>
		<ul>
			<li>I am <%= time_ago_in_words(Time.new(1991, 07, 20)) %> old</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</section>

</div>

