<div class="left-panel">
		<div class="loading-overlay"></div>
</div>

<div class="right-panel">
	<h1>I Design. I Code. I Solve Problems.</h1>
	<section class="about">
		<h2>About Me</h2>
		<div>
			<p>
			I am a web designer/developer with a passion for creating harmony between gorgeous, purposeful design and objective functionality. I work to make a seemless transition between sensable user interfaces and tight-knit back end business logic. Each day, I try to get better at bridging the gap between the "front-end" and "back-end" worlds in order to create a harmonious, synchronized experience for this amazing platform we call the web. 
			<br>
			<br>
			I also have a versatile design skillsket. I design/code all of my webapps/sites and have an exstensive background in general graphic/print design as well. I can do logos, illustrations (both cartoon and realsitic),among other things. I really do have a passion for the interactive though and &hearts; UI/UX design.
			</p>
		</div>
	</section>

	<section class="about">
		<h2>Technologies</h2>
		<div>
			<hr>
			<h3>Front End</h3>
			<hr>
			<ul>
				<li>HTML (ERB, Haml)</li>
				<li>CSS ( Sass = &hearts; )</li>
				<li>Javascript (jQuery, Coffeescript)</li>
				<li>Ajax</li>
			</ul>
			<hr>
			<h3>Back End</h3>
			<hr>	
			<ul>
				<li>PHP (Wordpress, Joomla)</li>
				<li>Ruby (Rails)</li>
				<li>Databases (MySQL, Postgres, SQLite3)</li>
				<li>Servers (Apache)</li>
			</ul>
			<hr>
			<h3>Dev/Design Tools</h3>
			<hr>
				<ul>
					<li>Git (Github)</li>
					<li>Command Line</li>
					<li>Photoshop</li>
					<li>Illustrator</li>
					<li>InDesign</li>
				</ul>
			<hr>
			<h3>Concepts</h3>
			<hr>
				<ul>
					<li>MVC</li>
					<li>OOP</li>
					<li>Design Fundamentals</li>
					<li>Color Theory</li>
				</ul>
			<hr>
			<h3>The Pipeline (Currently learning)</h3>
			<hr>
				<ul>
					<li>Laravel</li>
					<li>Ember.js</li>
				</ul>
			<hr>
			<h3>These are my current skills, but I am eager to consistently learn and further my understanding of a wide array of topics.</h3>
		</div>
	</section>

	<section class="about">
		<h2>Education</h2>
		<div>
			<ul>
				<li>AA in Digital Media Design | Colorado Technical University | June 2013</li>
				<li>HS | Colorado Springs Early Colleges | Class of 2009</li>
			</ul>
		</div>
	</section>

	<section class="about">
		<h2>Interests/Hobbies</h2>
		<div>
			<ul>
				<li>I am a HUGE hockey fan. I play it, I watch it, I am in love with the sport. Sharks/Avs fan. If you like to talk hockey, let's get together.</li>
				<li>As a Colorado native I am naturally inclined to think things like camping, hiking and biking are some of the best ways to spend my free-time.</li>
				<li>I really love biology. It's certainely only a hobby at the moment, but I do have an insatiable passion and curiosity ftowards all living things. I especially love plants.</li>
				<li>I truly find bliss in cooking a good meal.</li>
				<li>I also kinda really like programming and design.</li>
			</ul>
		</div>
	</section>
</div>

