<div class="left-panel">
</div>

<div class="right-panel">
	<h1>Life</h1>
	<hr>

	<section class="about">
		<h2>About me</h2>
		<ul>
			<li>I am <%= time_ago_in_words(Time.new(1991, 07, 20)) %> old</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</section>

	<section class="about">
		<h2>Interests/Hobbies</h2>
		<ul>
			<li>I am <%= time_ago_in_words(Time.new(1991, 07, 20)) %> old</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</section>

	<h1>Work</h1>
	<hr>

	<section class="about">
		<h2>Languages/Platforms</h2>
		<ul>
			<li>I am <%= time_ago_in_words(Time.new(1991, 07, 20)) %> old</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</section>

	<section class="about">
		<h2>Interests/Hobbies</h2>
		<ul>
			<li>I am <%= time_ago_in_words(Time.new(1991, 07, 20)) %> old</li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</section>

</div>

