<div class="left-panel">
</div>

<div class="right-panel">
	<h1>I Design. I Code. I Solve Problems.</h1>

	<section class="about">
		<h2 class="active">What I do</h2>
		<div>
			<p>
			I am a web designer/developer with a passion for creating harmony between gorgeous, purposeful design and objective functionality. I love working on making a seemless transition between sensable user interfaces and tight-knit back end business logic. Each day, I try to get better at bridging the gap between the "front-end" and "back-end" worlds in order to create a harmonious, synchronized experience for this amazing platform we call the web. Really I am in the business of learning to create.
			</p>
		</div>
	</section>

	<section class="about">
		<h2 class="active">Languages - Platforms - Design Tools</h2>
		<div>
			<h3>Front End</h3>
			<hr>
			<ul>
				<li>HTML (ERB, Haml)</li>
				<li>CSS (Sass)</li>
				<li>Javascript (jQuery)</li>
			</ul>
			<h3>Back End</h3>
			<hr>	
			<ul>
				<li>PHP (Wordpress, Joomla)</li>
				<li>Ruby (Rails)</li>
				<li>Databases (MySQL, Postgres, SQLite3)</li>
			</ul>
			<h3>Dev Tools</h3>
			<hr>
			<ul>
				<li>Git (Github)</li>
				<li>Command Line</li>
			</ul>
			<h3>Design Tools</h3>
			<hr>
				<ul>
					<li>Photoshop</li>
					<li>Illustrator</li>
					<li>InDesign</li>
				</ul>
		</div>
	</section>

	<section class="about">
		<h2 class="active">Education</h2>
		<div>
			<ul>
				<li>AA in Digital Media Design | Colorado Technical University | June 2013</li>
				<li>HS | Colorado Springs Early Colleges | Class of 2009</li>
			</ul>
		</div>
	</section>

	<section class="about">
		<h2 class="active">Interests/Hobbies</h2>
		<div>
			<ul>
				<li>I am a HUGE hockey fan. I play it, I watch it, I am in love with the sport.</li>
				<li>As a Colorado Native I am naturally inclined to think things like camping, hiking and biking are the best way to spend my time.</li>
				<li>I really love biology. I'm surely not a scientist, but I have an insatiable passion for trying to better understanding how life works.</li>
				<li>I truly find bliss in cooking a good meal.</li>
				<li>Oh yeah, and I kinda really like programming and design.</li>
			</ul>
		</div>
	</section>
</div>

