<!-- Hello, My Name Is -->
<div class="hello">
	<h1 class="headline"></h1>
	<div class="bottom-portion">
		<div class="name-container">
			<h1 class="name">T<%= image_tag("me-with-e.png", class: "me-with-e") %>dd</h1>
		</div>
		<div class="call-to-action">
			<center>
			<%= link_to "A Little About Me", pages_about_path, class: "button" %>
			<%= link_to "See My Work", projects_path, class: "button" %>
			</center>
		</div>
	</div>
</div> <!-- End Hello -->
