

<!-- Hello, My Name Is -->
<div class="hello">
	<h1 class="headline"></h1>
	<div class="bottom-portion">
		<div class="name-container">
			<h1 class="name">T<%= image_tag("me-with-e.png", class: "me-with-e") %>dd</h1>
		</div>
		<div class="call-to-action">
			<span class="typed">I Design. I Code. I Solve Problems</span><br />
			<center>
			<a class="button">A little about me</a>
			<a class="button">See my work</a>
			</center>
		</div>
	</div>
</div> <!-- End Hello -->
