<!-- The project showcase -->
<div class="showcase project-showcase showcase-hide">

	<div class="gallery">
		<div class="showcase-close"><h3>X</h3></div>
	</div>

	<div class="sidebar">
		<h1>Olive Real Estate</h1>
		<section class="about">
		<h2>Project Overview</h2>
		<ul>
			<li>Olive came to us during my time at Rootspring looking for a fresh, modern web prescence. The site features a full listings database with realtime searches, sorting, and a user based favoriting system.</li>
		</ul>
	</section>
		<section class="about">
		<h2>Key Features</h2>
		<ul>
		
		</ul>
	</section>
		<section class="about">
		<h2>Languages/Platforms</h2>
		<ul>
		
		</ul>
	</section>

	<center><div class="button-lrg">View the site</div></center>

	</div>
</div>