<h1>My Work</h1>

<% @projects.each do |project| %>

	<div class="project">
		<p><%= project.name %></p><br />
		<p><%= project.languages %></p><br />
		<p><%= project.description %></p><br />
		<%= link_to("View This Project", project_path(:id => project.id)) %><br />
	</div>
	<hr>

<% end %>
