<h1>My Work</h1>

<% @projects.each do |project| %>

	<div class="project">
		<%= project.name %><br />
		<%= project.languages %><br />
		<%= project.description %><br />
		<%= link_to("View This Project", project_path(:id => project.id)) %><br />
	</div>
	<hr>

<% end %>
