.left-panel {
	width: 50%; height: 100%;
	background: image-url("me-scene.jpg") no-repeat left center;
	background-size: cover;
	position: fixed;
	top: 0; left: 0;
	@include bp(alpha) {
		background: image-url("me-scene.jpg") no-repeat center center;
		background-size: cover;
		width: 100%;
		position: relative;
		height: 400px;
	}
	@include bp(charlie) {
		background: image-url("me-scene.jpg") no-repeat left center;
		background-size: cover;
	}
}

.right-panel {
	width: 50%; height: 100%;
	background: $salmon;
	position: absolute;
	top: $nav-height; right: 0;
	padding: 10px 0px 20px 0px;
	z-index: $z-modal;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0, 0.3);
	@include bp(alpha) {
		width: 100%;
		position: relative;
		height: auto;
		padding: 20px 0px;

	}

	h1 {
		color: darken($salmon, 10%);
		margin: 20px;
	}
	h2 {
		font-size: 1.2em;
		padding: 20px 0px 20px 40px;
		cursor: pointer;
		background: image-url("arrow.svg") no-repeat 15px center;
		background-size: 10px;
		margin: 20px 0px 0px 0px;
		border-bottom: solid 2px darken($salmon, 5%);
		@include transition(all ease 0.2s);
		&:hover {
			background: image-url("arrow.svg") no-repeat 20px center darken($salmon, 10%);
			background-size: 10px;
			@include transition(all ease 0.2s);
		}
		&.active {
			background: image-url("arrow-active.svg") no-repeat 15px center darken($salmon, 7%);
			background-size: 10px;
			@include transition(all ease 0.2s);
		}
	}

	section {
		hr {
			border: solid 1px lighten($salmon, 10%);
		}
		div {
			display: none;
			background: darken($salmon, 10%);
			padding: 50px;
			p {
				color: #fff;
			}
		}
		ul {
			padding: 0px 20px 20px 20px;
			li {
				list-style: circle;
				padding: 10px 0px;
				font-size: 0.8em;
			}
		}
	}

	
}