// Color Palette
$slate: #0f0f0f;
$salmon: #b45649;

// Layout
$nav-height: 85px;
$max-width: 1200px;
$border-radius: 15px;

// Z-Index
$z-modal: 1000;
$z-nav: 999;

// Flash notices

.notice {
	position: fixed;
	top: -100px; left: 0;
	width: 100%;
	background: $salmon;
	padding: 20px;
	z-index: $z-modal;
}

.container {
	width: 95%;
	height: auto;
	margin: auto;
	&.form {
		max-width: 600px;
		background: darken($slate, 1%);
		padding: 70px 40px;
	}
}

.login-btn {
	border: solid 2px $salmon;
	background: transparent;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	&:hover {
		background: $salmon;
	}
}

// Typed
#typed-cursor{
	display: none;
} 
