.projects-container {
	padding-bottom: 120px;
	width: 100%;
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	@include align-items(flex-start);
	@include align-content(space-around);
	@include bp(600){ @include justify-content(center) }
}

.control-bar {
	@include display(flex);
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	margin-bottom: 50px;
	@include bp(alpha){
		padding-top: 50px;
		h1 {
			margin-bottom: 20px;
			width: 100%;
		}
	}
	h1 {
		span {
			font-size: 0.3em !important;
			font-style: italic;
			font-weight: 400;
			color: #777;
			@include bp(charlie) {
				display: block;
				padding-top: 10px;
			}
			img {
				height: 15px;
				margin: 0px 5px;
				vertical-align: middle;
			}
		}
	}
	.controls {
		@include bp(charlie) {
        	width: 100%;
   		}
	}
	.button {
		font-size: 0.8em;
		line-height: 4em;
		@include bp(charlie) {
        	font-size: 0.8em;
        	line-height: 1em;
        	display: inline-block;
        	float: left;
        	width: 44%;
        	margin-right: 3%;
        	margin-bottom: 5px; margin-top: 5px;
   		}
	}
}

.project-shell {
	width: 24.5%; height: auto;
	padding: 20px;
	@include bp(1600){ width: 33%; }
	@include bp(1300){ width: 49%; }
	@include bp(700){ width: 95%; }
}

.project {
	position: relative;
	width: 100%;
	overflow: hidden;
	border-radius: $border-radius;
	cursor: pointer;
	.toolbar {
		width: 100%; height: 50px;
		background: darken($slate, 3%);
		overflow: hidden;
		//border-radius: 0px 0px $border-radius $border-radius;
		@include display(flex);
		a {
			cursor: pointer;
			height: 100%;
			padding: 0 40px;
			border-right: solid 1px #222;
			line-height: 2.75em;
			color: #aaa;
			&.view-project {
				background: image-url("eye.svg") no-repeat center center;
				background-size: 30px;
				&:hover {
					background: image-url("eyemo.svg") no-repeat center center darken($salmon, 10%);
					background-size: 30px;
				}
			}
		}
	}
}

.project-photo {
	width: 100%; height: 400px;
	background: #222;
	background-size: cover !important;
	position: relative;
	overflow: hidden;
	&:hover {
		.project-info {
			@include transition(all ease 0.5s);
			bottom: 0;
		}
	}

	.project-info {
		background: rgba(0,0,0,0.95);
		position: absolute;
		bottom: -100%;
		width: 100%; max-height: 100%;
		overflow: auto;
		padding-bottom: 25px;
		@include transition(all ease 0.5s);
		h2 {
			display: block;
			padding: 15px;
		}
		a, p {
			padding: 5px 20px;
		}
		.project-kind {
			color: $salmon;
			border-bottom: solid 2px $salmon;
			display: block;
			padding: 0px 20px 10px 20px;
		}
	}

	.project-order {
		padding: 20px;
		display: inline-block;
		border-radius: 0px 0px $border-radius 0px;
		background: $salmon;
		z-index: $z-modal;
		position: absolute;
		top: 0; left: 0;
	}

	.crud-tools {
		background: $salmon;
		position: absolute;
		top: 0; right: 0;
		display: inline-block;
		border-radius: 0px 0px 0px $border-radius;
		z-index: $z-modal;
		overflow: hidden;
		a {
			padding: 20px !important;
			display: block;
			height: 100% !important;
			border-bottom: solid 2px darken($salmon, 5%);
			&:hover {
				background: darken($salmon, 10%);
			}
		}
		.delete-project {
			background: image-url("trashmo.svg") no-repeat center center;
			background-size: 15px;
			&:hover {
				background: image-url("trashmo.svg") no-repeat center center darken($salmon, 10%);
				background-size: 15px;
			}
		}
	}

}

//////////////////////
// Showcases 
/////////////////////

.showcase {
	position: fixed;
	width: 100%; height: 100%;
	bottom: 0; left: 0;
	z-index: $z-modal !important;
	background: $slate;
	@include transition(all ease 0.5s);
	@include bp(beta) {
		overflow: auto;
	}
}

.admin-showcase {
	padding: 50px 100px;
	overflow: auto;
	@include bp(charlie) {
		padding: 25px;
	}
	h1 {
		color: rgba(255,255,255,0.1);
		font-size: 5em;
	}
	.container {
		max-width: 900px !important;
		width: 100%;
	}
}

.showcase-hide {
	bottom: -100%;
	@include transition(all ease 0.5s);
}

.gallery {
	width: 80%; height: 100%; 
	background: $slate;
	position: absolute;
	top: 0; left: 0;

	@include bp(alpha) {
		width: 100%; height: 500px;
		position: relative;
	}
}

.sidebar {
	width: 20%; height: 100%;
	background: #222;
	position: absolute;
	top: 0; right: 0;
	overflow: auto;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
	@include bp(alpha) {
		width: 100%; height: auto;
		position: relative;
	}

	h1 {
		font-size: 2em;
		padding: 25px 20px 10px 20px;
	}

	h2 {
		font-size: 1.2em;
		padding: 20px 0px 20px 30px;
		cursor: pointer;
		background: image-url("arrow.svg") no-repeat 10px center;
		background-size: 10px;
		border-bottom: solid 2px lighten($slate, 20%);
		&:hover {
			background: image-url("arrow.svg") no-repeat 10px center lighten($slate, 10%);
			background-size: 10px;
		}
		&.active {
			background: image-url("arrow-active.svg") no-repeat 10px center lighten($slate, 5%);
			background-size: 10px;
		}
	}

	h4 {
		padding: 7px 20px;
	}

	section {
		position: relative;
		div {
			display: none;
			padding: 25px;
			background: lighten($slate, 15%);
		}
		.active {
			display: block;
		}
		ul {
			li {
				@extend p;
				padding: 10px 0px;	
				list-style: circle;
			}
		}
	}

	.myrole {
		font-style: italic !important;
		font-size: 0.8em;
		padding: 20px;
	}
}

.showcase-close {
	border: solid 2px $salmon;
	position: absolute;
	cursor: pointer;
	top: 10px; right: 10px;
	padding: 10px 12px;
	border-radius: $border-radius / 3;
	z-index: $z-modal + 50;
	font-size: 0.5em;
	@include transition(all ease 0.2s);
	&:hover {
		@include transition(all ease 0.2s);
		border-radius: 200%;
		background: $salmon;
	}
}


//////////////////////
// Slick Slideshow 
/////////////////////

.slick-list {
	width: 100%; height: 100%;
	position: absolute; 
}

.slick-slider {
	height: 100% !important;
	width: 100%;
	position: absolute;
	margin: auto !important;
	margin-bottom: 0px !important;
	@include display(flex !important);
	@include justify-content(center);
	@include align-content(center);
	@include align-items(center);
	button {
		height: 100%;
		padding: 0px 50px;
		top: 0;
		margin-top: 0px;
		z-index: $z-modal + 10;
		&:hover {
		 background: rgba(0,0,0,0.95);
		 @include bp(charlie) {
		 	background: none;
		 }
		}
		&.slick-next {
			right: 0;
		}
		&.slick-prev {
			left: 0;
		}
	}
}

.slick-slide {
	@include display(flex !important);
	@include justify-content(center);
	@include align-content(center);
	@include align-items(center);
	position: relative !important;
	height: 90% !important;
	width: 100% !important;
	bottom: 0 !important;
	img {
		position: relative;
		display: block;
		height: auto !important; max-height: 80% !important;
		max-width: 100% !important; width: auto !important;
		@include bp(1200) {
		   max-height: 100% !important; 
		}
		@include bp(charlie) {
			height: auto !important; max-height: none !important; width: 90% !important;
		}
	}
}

.slick-track {
	height: 100%;
	@include display(flex !important);
	@include justify-content(center);
	@include align-content(center);
	@include align-items(center);
}

.slick-dots {
	position: absolute;
	bottom: 0 !important;
	left: 0 !important;
	padding: 25px !important;
	background: rgba(15,15,15,0.5);
	z-index: $z-modal + 5;
}
.slick-dots li button:before {
	color: #fff !important;
}
