/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require slick
 *= require isotope
 */

// Meyer CSS reset
@import "reset";

// Bourbon Library
@import "bourbon";

// Variables & Mixins
@import "config";
@import "mixins";
// Fonts
@import "fonts";
@import "forms";

// Page Specific Styles
@import "pages";

// Global structures
*, *:before, *:after {
    color: #fff;
    @include box-sizing(border-box);
}

body {
    font-family: 'proxima-nova', sans-serif;
    background: $slate;
    font-size: 18px;
    margin-top: $nav-height + 40px;
    @include bp(1400) {
        font-size: 16px;
        margin-top: $nav-height;
    }
    @include bp(900) {
        font-size: 14px;
    }
}

nav {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: $nav-height;
    background: $slate;
    z-index: $z-nav;
    @include display(flex);
    @include align-items(center);
    @include justify-content(flex-start);
     @include bp(900) {
        @include justify-content(space-between);
        @include align-items(flex-start);
    }
} // End Nav

#logo {
    height: 55px; width: 55px;
    margin: 20px;
    background: image-url("logo.svg") no-repeat center center;
    background-size: 100%;
    border-radius: 200%;
    cursor: pointer;
    @include transition(all ease 0.5s);
    @include transform( translateY(0px) );
    &:hover {
        @include transform( translateY(-7px));
    }
    @include bp(900) {
        height: 45px; width: 45px;
        margin: 20px;
    }
}

.nav-container {
    @include display(flex);
    @include align-items(stretch);
    @include justify-content(space-between);
    @include flex-grow(1);
    @include bp(900){
        @include flex-wrap(wrap);
        position: fixed; top: 0; left: 0;
        width: 100%;
        background: $salmon;
        display: none;
    } 
    &.open {
        @include display(flex);
    }
}

.mobile-nav-toggle {
    display: none;
    height: 30px; width: 30px;
    margin: 20px;
    background: image-url("nav-icon.svg") no-repeat center center;
    background-size: contain;
    @include bp(900) {
        display: inline-block;
    }
}

ul.navigation {
    @include display(flex);
    @include align-items(stretch);
    height: 100%;
    @include bp(900){
        width: 100%;
        @include align-items(stretch);
        @include flex-wrap(wrap);
    }

    li {
        height: 100%;
        top: 0px;
        @include display(flex);
        @include align-items(center);
        @include bp(900){
            width: 100%;
            text-align: center;
            @include align-items(stretch);
        }
        a {
            cursor: pointer;
            font-size: 1em;
            display: inline-block;
            color: #fff;
            padding: 22px;
            margin: 0px 20px;
            border-bottom: solid 2px transparent;
            text-shadow: 1px 1px 2px #000;
            @include bp(900){
                width: 100%;
                font-size: 1.25em;
                padding: 30px;
                border-bottom: solid 1px darken($salmon, 10%);
            }
            &:hover {
                border-bottom: solid 2px $salmon;
            }
        }
    }
} // End ul.navigation

ul.social {
    @include display(flex);
    @include align-items(center);
    padding-right: 10px;
    @include bp(900) {
        width: 100%;
        padding: 25px 0px;
        background: darken($salmon, 5%);
        @include justify-content(center);
    }
    li {
        height: 25px; width: 25px;
        a {
            display: block;
            height: 100%; width: 100%;
        }
    }
}

@each $social in twitter, github, linkedin, login, logout {
  .#{$social} {
    background: image-url("#{$social}.svg") no-repeat center center;
    margin: 0px 12px;
    background-size: contain;
    cursor: pointer;
    &:hover {
      background: image-url("#{$social}mo.svg") no-repeat center center;
      background-size: contain;
    }
  }
}
