<div class="overlay contact-overlay">
	<div class="modal">
	<div class="close-overlay"><h3>X</h3></div>
		<h1>Contact Me</h1>
		<p>Wether you're interested in hiring me for my services or simply want to chat programming/design, I'd love to hear from you. Feel free to call, text, email, whatever. Please just make sure to let me know who you are!</p>
		<br />
		<h3>(719)440-4732</h3><br>
		<h3>tedd.arcuri@gmail.com</h3><br>
	</div>
</div>