<div class="overlay contact-overlay">
	<div class="modal">
	<div class="close-overlay"><h3>X</h3></div>
		<h1>Contact Me</h1>
		<p>Everybody says it, but i'd really love to hear from you. Wether you're looking to hire me or simply just want to chat about web development or design, you can reach me directly at the number below. If it's a bit less casual go ahead and email me and I'll reply as soon as I am able.</p>
		<br />
		<h3>(719)440-4732</h3><br>
		<h3>tedd.arcuri@gmail.com</h3><br>
	</div>
</div>