<nav>
	<%= link_to " ", root_path, id: "logo" %>
	<div class="nav-container">
		<div class="mobile-nav-close">X</div>
		<ul class="navigation">
			<li><%= link_to "Me, The Person", {controller: "pages", action: "about"} %></li>
			<li><%= link_to "My Work", projects_path %></li>
			<li class="contact-modal-toggle"><a>Contact Me</a></li>
		</ul>

		<ul class="social">
			<a target="_blank" href="https://github.com/teddarcuri/"><li class="social-icon github"></li></a>
			<li class="social-icon linkedin"></li>
			<% if !logged_in %>
			<li class="login-modal-toggle social-icon login "></li>
			<% else %>
			<li class="social-icon logout"><%= link_to "", user_session_path(id: current_user_id), method: :delete %></li>
			<% end %>
		</ul>
	</div>

	<div class="mobile-nav-open">
	</div>
</nav>